<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ignite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=ZEE\SQLEXPRESS;Initial Catalog=IgniteDB;User ID=root;Password=root" providerName="System.Data.SqlClient" />
    <add name="EmailDBConnString" connectionString="Data Source=ZEE\SQLEXPRESS;Initial Catalog=EmailDB;User ID=root;Password=root" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TimeOut" value="30" />
    <add key="AppName" value="Ignite!!!" />
    <add key="AppURL" value="http://88.208.218.226/Ignite/Login.aspx" />
    <add key="FromName" value="BSL Global" />
    <add key="FromAddress" value="bslghltd@gmail.com" />
    <add key="EmailSubject" value="Ignite!!! User Account Confirmation" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="UserName" value="bslghltd@gmail.com" />
    <add key="Password" value="installall" />
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>